---
title: Analysera AEM Cloud Manager testresultat
description: Utforska och åtgärda resultaten från rapporter från AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
jira: KT-6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
duration: 342
source-git-commit: f4c621f3a9caa8c2c64b8323312343fe421a5aee
workflow-type: tm+mt
source-wordcount: '72'
ht-degree: 0%

---

# Analysera testresultat {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analysera testresultat"
>abstract="IEmma kompileringsfel i koden och se om koden följer vedertagna standarder för AEM as a Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=sv-SE#how-to-use" text="Förstå testresultaten"

Utforska eventuella kompileringsfel i koden och om koden följer vedertagna standarder för AEM as a Cloud Service eller inte

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
