---
title: 'Analysera testresultat AEM Cloud Manager '
description: Utforska och åtgärda resultaten av rapporter från AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Utveckling
feature: Utvecklarverktyg
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: e295d77a11c99310aaae10ecb8a2eaa20ad49285
workflow-type: tm+mt
source-wordcount: '0'
ht-degree: 0%

---


# Analysera testresultat

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analysera testresultat"
>abstract="IEmma kompileringsfel i koden och se om koden följer vedertagna standarder för AEM som en Cloud Service eller inte"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="Förstå testresultat"

Utforska eventuella kompileringsfel i koden och om koden följer vedertagna standarder för AEM som en Cloud Service eller inte

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
