---
title: Analysera testresultat AEM Cloud Manager
description: Utforska och åtgärda resultaten av rapporter från AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
jira: KT-6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
duration: 15
source-git-commit: 9fef4b77a2c70c8cf525d42686f4120e481945ee
workflow-type: tm+mt
source-wordcount: '72'
ht-degree: 0%

---

# Analysera testresultat {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analysera testresultat"
>abstract="IEmma kompileringsfel i koden och se om koden följer vedertagna standarder för AEM as a Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="Förstå testresultaten"

Utforska eventuella kompileringsfel i koden och om koden följer vedertagna standarder för AEM as a Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
