---
title: 'Analysera testresultat AEM Cloud Manager '
description: Utforska och åtgärda resultaten av rapporter från AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: 5ac82928d4b0bf75b348a414793c24c3aca92f36
workflow-type: tm+mt
source-wordcount: '42'
ht-degree: 0%

---


# Analysera testresultat

Utforska eventuella kompileringsfel i koden och om koden följer vedertagna standarder för AEM som en Cloud Service eller inte

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)